@page
@using Test_technique.Views.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1><p class="display-4">simulation de la propagation d’un feu de forêt.</p></h1>
    <h3 class="display-4"><button id="start">Démarrer</button></h3>
</div>

<p>Hauteur : <strong>@Model.Config.Longueur</strong></p>
<p>Longueur : <strong>@Model.Config.Hauteur</strong></p>
<p>Probabilité p : <strong>@Model.Config.Propagation</strong></p>

<!-- #region forêt -->
<div class="text-center">
        <div class="center">
            <canvas id="c" width="560" height="560"></canvas>
        </div >
        <div id="controls">
            <button id="step">Étape</button>
            <button id="reset">Réinitialiser</button>
        </div>
            @* les valeur correspondante au  etat de chaque case
            - 0 == arbre vert (etat initial)
            - 1 == arbre en feu
            - 2 == arbre en sendre
            *@
    </div>
<!-- #endregion -->
